@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My DVD Collection</h1>
    </div>

<div class="row">
    <div class="col-md-12">
        <h2>My DVD Collection</h2>
        <p>
            As someone who loves movies, there had to be a better way to find a movie than browsing through all of my
            titles. Hence the new DVD Application using Entity Framework in ASP.NET MVC!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    
</div>